<launch>
	# start the jaco arm in gazebo
	# with gui publisher
	<!-- <include file="$(find jaco_on_table)/launch/jaco_on_table_gazebo_controlled.launch">
		<arg name="load_joint_state_publisher" value="true"/>
	</include> -->

	# with programmatic publisher
	<include file="$(find jaco_on_table)/launch/jaco_on_table_gazebo_controlled.launch">
		<arg name="load_ros_controllers" value="true"/>
		<arg name="load_velocity_controller" value="false"/>
	</include>

	# OR

	# start gazebo with empty world
	<!-- <arg name="gazebo_world_file" default="worlds/empty.world"/>
	<arg name="extra_gazebo_args" default=""/>
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(arg gazebo_world_file)"/> 
		<arg name="paused" value="false"/>
		<arg name="verbose" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
		<arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>	
	</include> -->

	<arg name="pi" value="3.1415926535"/>
	<arg name="half_pi" value="1.57079632675"/>
	<arg name="min_half_pi" value="-1.57079632675"/>
	<arg name="half_half_pi" value="0.78539816337"/>

	# start the cup and ball in gazebo
	<include file="$(find cup_and_ball)/launch/ball_drop.launch">
		<arg name="x" value="1.0125"/>
		<arg name="y" value="-0.35"/>
		<arg name="z" value="0.95"/>
		<arg name="ball_z" value="1.95"/>
		<arg name="roll" value="$(arg half_pi)"/>
		<arg name="pitch" value="0"/>
		<arg name="yaw" value="$(arg min_half_pi)"/>
	</include>

</launch>